nav.navbar {
    background: linear-gradient(to bottom, coral, whitesmoke);

}

button.navbar-toggler {
    border-color: rgb(255, 102, 46);
    background: linear-gradient(to top, transparent, coral);
}

main {
    background-color: whitesmoke;
}

.container {
    max-width: 90%;
    padding-top: 20px;
}

.album-card{
    margin-bottom: 20px;
}

.album-card img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.album-info {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, coral, whitesmoke);
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

div.album-card div.name-artist, div.album-card div.genre-duration {
    display: flex;
    justify-content: space-between;
    align-items: end;
    text-wrap: nowrap;
}

@media screen and (max-width: 1200px){
    div.album-card div.name-artist, div.album-card div.genre-duration {
        flex-direction: column;
        align-items: start;
    }
} 

div.album-card div.name-artist h6, div.album-card div.genre-duration div {
    white-space: nowrap; 
    overflow: hidden;       
    text-overflow: ellipsis;
}

@media screen and (max-width: 576px){
    div.album-card div.name-artist h6, div.album-card div.genre-duration div {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 450px){
    div.album-card div.name-artist h6, div.album-card div.genre-duration div {
        font-size: 0.6em;
    }
}

div.album-card div.name-artist h6.name {
    font-weight: bold;
}

div.album-card div.genre-duration {
    font-size: smaller
}

   



