nav.navbar {
    background: linear-gradient(to bottom, coral, whitesmoke);

}

button.navbar-toggler {
    border-color: rgb(255, 102, 46);
    background: linear-gradient(to top, transparent, coral);
}

main {
    background-color: whitesmoke;
}



thead tr > * {
    background-color: coral !important;
}

tbody tr:nth-child(even) > * {
    background-color: rgb(255, 193, 171);
}
  
tbody > tr:nth-child(odd) > * {
    background-color: rgb(254, 223, 212);
}

@media screen and (min-width: 576px){
    div.table-container {
        display: flex;
        justify-content: center;
    }

    div.table-responsive {
        width: 70%;
    }
}
